<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OnRoadEntities" connectionString="metadata=res://*/OnRoadModel.csdl|res://*/OnRoadModel.ssdl|res://*/OnRoadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CM8E9AR\SQLEXPRESS;initial catalog=OnRoad;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>